<fieldset class="my-rank">
    <legend>My rank</legend>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start stretch" >
        <div fxFlex="20">
            <star-rating
                [value]="rate"
                checkedcolor="orange"
                uncheckedcolor="#eeeeee"
                size="24px"
                readonly="false"
                (rate)="onRate($event)">
            </star-rating>
        </div>
        <mat-form-field fxFlex="75" [formGroup]="form">
            <textarea  matInput formControlName="comment" placeholder="Comment" rows="2"></textarea>
        </mat-form-field>
    </div>
    <div class="actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <button mat-stroked-button color="primary" (click)="reset()">Reset</button>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSave()">Save</button>
    </div>
</fieldset>