$gray2: rgb(240, 240, 240);

.my-rank {
    border: 1px solid rgba(127, 127, 127, 0.3);
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;

    legend {
        color: #757575;
    }

    .comment {
        margin-top: 1.2em;
        overflow-y: scroll;
        min-height: 5em;
        padding: 0.5em;
        border: 1px $gray2 solid;
        border-radius: 0.3em;
        background-color: white;
    }

    .actions {
        margin-top: 1em;
        width: 100%;
    }

    .stars {
        padding-top: 20px !important;
    }
}