$gray1: rgb(180, 180, 180);
$gray2: rgb(240, 240, 240);
$yellow: rgb(253, 253, 237);

.movie-card {
    cursor: pointer;

    .info {
        margin-left: 15px;

        .title {
            font-size: 1em;
            font-weight: 900;
            width: 15em;
        }

        .title-sm {
            width: 90%;
            margin-top: 20px;
            margin-left: 10px;
        }

        .date {
            font-size: 0.8em;
            color: $gray1;
        }

        .date-sm {
            width: 90%;
            margin-left: 10px;
        }

        .description {
            margin-top: 1.2em;
            overflow-y: auto;
            max-height: 10em;
            width: 15em;
            padding: 0.5em;
        }

        .description-sm {
            width: 90%;
            margin-left: 10px;
        }
    }

    .poster {
        min-height: 278px;
        min-width: 185px;
        max-width: 185px;
        background-color: $gray2;
        border: 1px $gray1 solid;
        border-radius: 0.3em;

        .warning {
            color: $gray1;
            font-size: 1.5em;

            div {
                text-align: center;
            }

            i {
                font-size: 2em;
            }
        }
    }
}
.movie-card:hover {
    background-color: $yellow;
}