<mat-card class="movie-card" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="center center">
    <div class="poster" fxLayout="column" fxLayoutAlign="center center">
        <div *ngIf="!movie.poster" class="warning" fxLayout="column" fxLayoutAlign="center center">
            <i class="material-icons">
                photo_camera
            </i>
            <div>No Poster Available</div>
        </div>
        <img *ngIf="movie.poster" src="{{ movie.poster }}">
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" class="info">
        <div class="title" [ngClass.lt-md]="{'title-sm': true}">{{ movie.title }}</div>
        <div class="date" [ngClass.lt-md]="{'date-sm': true}">{{ movie.date }}</div>
        <div class="description" [ngClass.lt-md]="{'description-sm': true}">{{ movie.description }}</div>
    </div>
</mat-card>
