<app-loader [visible]="loading"></app-loader>
<div class="movie-detail" [ngClass.lt-md]="{'movie-detail-sm': true}" fxLayout="column" fxLayoutAlign="start stretch">
    <app-movie-info [movie]="movie"></app-movie-info>
    <app-my-rank
        [id]="(movie && movie.myRank && movie.myRank.id) ? movie.myRank.id : null"
        [rate]="(movie && movie.myRank && movie.myRank.rank) ? movie.myRank.rank : 0"
        [comment]="(movie && movie.myRank && movie.myRank.comment) ? movie.myRank.comment : ''"
        (save)="saveMyRank($event)"
        (resetRank)="resetRank()">
    </app-my-rank>
    <app-community
        [communityRanks]="(movie && movie.community) ? movie.community : []">
    </app-community>
</div>