<div fxLayout="row" fxLayoutAlign="center center" class="login">
    <mat-card>
        <mat-card-title fxLayout="row" fxLayoutAlign="center" class="titulo">
            Sign in
        </mat-card-title>
        <div fxLayout="row" fxLayoutAlign="center" class="contenido">
            <form [formGroup]="form" fxLayout="column" fxFlex="100">
                <fieldset>
                    <div fxFlex="260">
                        <i class="material-icons">
                            person
                        </i>
                        <mat-form-field [formGroup]="form">
                            <input matInput type="text" name="loginpas" formControlName="username"
                                placeholder="Username" required>
                            <mat-error *ngIf="form.controls.username.hasError('required')">
                                The username is required.
                            </mat-error>
                        </mat-form-field>
                        <i class="material-icons">
                            vpn_key
                        </i>
                        <mat-form-field [formGroup]="form">
                            <input matInput type="password" name="passwordpas" formControlName="password"
                                placeholder="Password" required>
                            <mat-error *ngIf="form.controls.password.hasError('required')">
                                The password is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
                        <button mat-raised-button color="accent" type="button" (click)="login()"
                            [disabled]="!form.valid" class="login-button">Login</button>
                    </mat-card-actions>
                </fieldset>
            </form>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-error *ngIf="messageError">{{messageError}}</mat-error>
        </div>
    </mat-card>
</div>
