.login {
    margin-top: 0;
    height: 400px;
    border: 1px #ccc solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    mat-card {
        width: 300px;
    }

    fieldset {
        border: unset;
    }
}

mat-form-field {
    margin-left: 5px;
    width: 239px;
}