.movie-list {
    background-color: rgba(200, 200, 200, 0.15);
    padding: 10px 30px 30px 30px;

    .list {
        width: 100%;

        .movie {
            min-width: 400px;
            margin: 10px;
        }
    }

    .paginator {
        margin-top: 50px;
        width: 100%;
    }
}
.movie-list-sm {
    padding: 5px 2px 10px 2px;
}