<app-loader [visible]="loading"></app-loader>
<div class="movie-list" [ngClass.lt-md]="{'movie-list-sm': true}" fxLayout="column" fxLayoutAlign="start start">
    <form>
        <mat-form-field>
            <mat-label>Movies by year</mat-label>
            <mat-select (selectionChange)="onSelectYear($event)" [(value)]='selectedYear'>
                <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="list" fxLayout="row wrap" fxLayoutAlign="center center">
        <app-movie-card
            *ngFor="let movie of movies"
            class="movie"
            [movie]="movie"
            (click)=goToDetail(movie.id)>
        </app-movie-card>
    </div>
    <div class="paginator" fxLayout="column" fxLayoutAlign="center center">
        <mat-paginator
            [length]="length"
            [pageSize]="pageSize"
            [pageIndex]="pageEvent.pageIndex"
            [hidePageSize]="true"
            (page)="getPage($event)">
        </mat-paginator>
    </div>
</div>