.page {
    width: 100%;

    .header {
        width: 85%;
        background-color: #ccc;

        .title {
            padding: 1em;
            font-size: 1.2em;

            .arrow-back {
                font-size: 2em;
                font-weight: 900;
                cursor: pointer;
            }

            .arrow-back:hover {
                color: gray;
            }

            .logo {
                font-size: 3em;
                color: white
            }
        }

        .user {
            margin-right: 1em;
            font-weight: 900;

            .logout {
                cursor: pointer;
                font-weight: 400;
            }

            .logout:hover {
                color: gray;
            }
        }
    }

    .header-sm {
        width: 100%;
    }

    .container {
        width: 85%;
    }

    .container-sm {
        width: 100%;
    }

}