<div class="page" fxLayout="column" fxLayoutAlign="center center">
    <header class="header" [ngClass.lt-md]="{'header-sm': true}" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.2em">
            <div style="width: 40px">
                <i *ngIf="active==='detail'" (click)="goToList()" class="material-icons arrow-back">
                    keyboard_arrow_left
                </i>
            </div>
            <i class="material-icons logo">
                movie_filter
            </i>
            <div [fxHide.lt-md]="true">
                The ultimate movie ranking system
            </div>
        </div>
        <div class="user" *ngIf="user" fxLayout="column" fxLayoutAlign="center end">
            <div>
                {{ user }}
            </div>
            <div class="logout" (click)="logout()">
                Logout
            </div>
        </div>
    </header>
    <div class="container" [ngClass.lt-md]="{'container-sm': true}">
        <router-outlet></router-outlet>
    </div>
</div>
