$gray1: rgb(180, 180, 180);
$gray2: rgb(240, 240, 240);

.movie-info {
    .title {
        font-size: 2em;
        font-weight: 900;
    }

    .date {
        color: $gray1
    }

    .description {
        margin-top: 1.2em;
        overflow-y: auto;
        max-height: 10em;
        padding: 0.5em;
        margin-left: 10px;
    }

    .poster {
        min-height: 278px;
        width: 185px;
        padding: 5px;
        background-color: $gray2;
        border: 1px $gray1 solid;
        border-radius: 0.3em;

        .warning {
            color: $gray1;
            font-size: 1.5em;

            div {
                text-align: center;
            }

            i {
                font-size: 2em;
            }
        }
    }

    .content {
        margin-bottom: 2em;
    }

    .rank {
        color: orange;
        margin-bottom: 2em;
    }
}