<div class="movie-info">
    <div>
        <div class="title">{{ movie.title }}</div>
        <div class="date">{{ movie.date }}</div>
        <div class="rank">
            <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon> {{ movie.rank }}
        </div>
    </div>
    <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center center" class="content">
        <div fxFlex="45" class="poster" fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="!movie.poster" class="warning" fxLayout="column" fxLayoutAlign="center center">
                <i class="material-icons">
                    photo_camera
                </i>
                <div>No Poster Available</div>
            </div>
            <img *ngIf="movie.poster" src="{{ movie.poster }}">
            <!-- <img src="{{ movie.poster }}"> -->
        </div>
        <div fxFlex="45" class="description">{{ movie.description }}</div>
    </div>
</div>
