<fieldset class="community">
    <legend>Community</legend>
    <div *ngIf="communityRanks.length===0" fxLayout="column" fxLayoutAlign="center center" class="warning">
        <i class="material-icons">
            comment
        </i>
        <div>
            No comments yet.
        </div>
    </div>
    <div *ngFor="let rank of communityRanks">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
                <div>
                    <i class="material-icons profile-icon">
                        account_circle
                    </i>
                </div>
                <div>{{ rank.user.name }}</div>
            </div>
            <div fxFlex="75" fxLayout="column" fxLayoutAlign="start star">
                <star-rating
                    [value]="rank.rank"
                    checkedcolor="orange"
                    uncheckedcolor="#eeeeee"
                    size="24px"
                    readonly="true">
                </star-rating>
                <div>{{ rank.comment }}</div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</fieldset>