$gray1: rgb(180, 180, 180);
.community {
    border: 1px solid rgba(127, 127, 127, 0.3);
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.3);

    legend {
        color: #757575;
    }

    .profile-icon {
        font-size: 3em;
    }

    .warning {
        color: $gray1;
        font-size: 1.2em;

        div {
            text-align: center;
        }

        i {
            font-size: 1.5em;
        }
    }
}